:root {
    /*--headerBg: #0a5180;*/
    /*--mainBg: #559CAD;*/
    /*--mainBg: #466870;*/
    --mainBg: #1d2832;
    --mainFontCol: white;
    --headFont: "Cooper Black";
    --bodyFont: "Cooper BT";
    scroll-behavior: smooth;
}

@font-face {
    font-family: "Cooper Black";
    src: url("fonts/CooperBlackStd.woff2") format("woff2");
}
@font-face {
    font-family: "Cooper BT";
    src: url("fonts/CooperBT.woff2") format("woff2");
}
  

header span{
    font-family: var(--headFont);
    font-size: xx-large;
    text-align: center;
    padding: 50px;
    font-size: 50px;
    /*background-color: var(--headerBg);*/
    
}
header{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--bodyFont);
    text-align: center;
    border-radius: 15px;
    /*text-shadow: 2px 2px 2px black;*/
}
h1{
    font-size:40px;
    text-shadow: 2px 2px 2px black;
    font-family: var(--headFont);
    color: var(--mainFontCol);
    text-align: center;
}

body {
    /*
        background-image: url("images/Artboard\ 1@4x.png");
        background-repeat: no-repeat;
        background: var(--mainBg);
    */
    background: #1D2832;
    background: linear-gradient(180deg, rgba(29, 40, 50, 1) 0%, rgba(70, 104, 112, 1) 50%, rgba(29, 40, 50, 1) 100%);
    background-position: top;
    background-size: 80% 100%;
}


#navBar{
    overflow: hidden;
}
#navBar a{
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    color: var(--mainFontCol);
    margin: 150px;
    
}
#navBar a:hover{
    text-decoration: none;
    color: gray;
}


#demoReel{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
    
}
#demoReel h1{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
    
}
#demoReel a{
    text-decoration: none;
    color: var(--mainFontCol);
}

#theActualReel{
    
    border: 1px solid rgba(255, 255, 255, 0.4);
    
}


#myWorks h1{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}
.projectGrid1{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    /*border: 1px solid black; */
}
.projectGrid2{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 0.5rem;
    padding: 0.5rem;
    /*border: 1px solid black; */
}
.project {
    min-height: 6rem;
    border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 10px;
    text-align: center;
    color: var(--mainFontCol);
    font-family: var(--bodyFont);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
.project ul{
    list-style-type: none;
}
.project a{
    color: var(--mainFontCol);
    text-decoration: none;
}
.project a:hover{
    color: gray;
}
#skatePack img:hover{
    transition: transform .2s ;
}
#skatePack img:hover{
    transform: scale(1.1);
}


#audioAmp{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
}
#audioAmp p{
    color: var(--mainFontCol);
    font-family: var(--bodyFont);
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    
}
#audioAmp a{
    color: var(--mainFontCol);
    text-decoration: none;
}
#audioAmp a:hover{
    color: gray;
}


#aboutMe h1{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}
#aboutMe table{
    margin-left: 30%;
    margin-right: 30%;
}
#aboutMe p{
    color: var(--mainFontCol);
    font-family: var(--bodyFont);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
    
}


#contactMe h1{
    /*background: var(--headerBg);*/
    color: var(--mainFontCol);
    font-family: var(--headFont);
    text-align: center;
    border-radius: 15px;
    padding: 15px;
    text-shadow: 2px 2px 2px black;
}
#contactMe p{
    color: var(--mainFontCol);
    font-family: var(--bodyFont);
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}
#contactMe a{
    text-decoration: none;
    color: var(--mainFontCol);
}
#contactMe a:hover{
    text-decoration: none;
    color: gray;
}
.cert img{
    background-color: white;
    border-radius: 15px;
    position: fixed;
    bottom: 30px;
    left: 15px;
    z-index: 99;
}


#topBtn{
    position: fixed;
    bottom: 30px;
    right: 15px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: gray;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    font-family: var(--bodyFont);
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: white;
}
#topBtn:hover{
    background-color: white;
    color: black;
}